/* Adicionar aqui toda a estilização criada para sua aplicação. */

/* Estilização Global */
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilizando o index.html */

/* Estilizando o header */
.header .container {
    display: flex;   
    justify-content: space-around;
    align-items: center;
    background-color: #000407;
    height: 100px;
    border-bottom: 7px solid #32B9CD;
}
.header .container .titulo {
    color: #32B9CD;
}

/* Estilizando o navbar */
.header .container .navbar{
    display: flex;
    gap:5rem;
    list-style: none;
}
.header .container .navbar li a,
.header .container .navbar li{
    color: #FFD700;
    text-decoration: none;
}

/* Estilizando todos os textos em negrito */
.header .container .navbar .agora,
.banner .container p span{
    font-weight: bolder;
}

/* Estilizando o banner */

.banner{
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    height: 500px;
}
.banner .container{
    height: 500px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.banner .container p{
    color: #CCC;
    font-size: 42px;
    width: 200px
}

/* Estlizando o social */
.social .container{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social .container .boxes {
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.social .container .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 200px;
}
.social .container .boxes .box h4{
    font-size: 1.5rem;
    color: #FF1D8D;
}
.social .container .boxes .box p{
    font-size: 1.25rem;
    text-align: center;
}
.social .container .boxes .box img{
    width: 150px;
}

/* Estilizando footer */
.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    background-color: #32B9CD;
    color: #FFF;
    font-size: 1.25rem;
}
.footer .container h4{
    margin-top: 2rem;
}

/* Estilizando o login.html e cadastro.html */

/* Estlizando fundo */
.login .container {
    background-image: url(../assets/imgs/bg-jelly-fish-para_outras_pags.png);
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilizando o card */
.login .container .card{
    background-color: #E5E5E5;
    text-align: center;
    border-radius: 20px;
    width: 50%;
    height: fit-content;
    color: #F50E5F;
}
.login .container .card h2 {
    font-size: 2.5rem;
    margin: 30px 0;
}
.login .container .card .formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.login .container .card .formulario .campo{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 15%;
}
.login .container .card .formulario span{
    font-weight: bold;
    font-size: 1.25rem;
}
.login .container .card .formulario input{
    text-align: center;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #32B9CD;
}
.login .container .card .formulario .botao{
    background-color: #F50E5F;
    width: 150px;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 20px auto;
}